
<div class="yvela">
    <h1 class="cate">Categories</h1>
    <div  class="grid">
<a class="aato">
   <h1>All</h1> 
</a>


<a  class="aato" >
   <h1>Salads</h1> 
</a>


<a class="aato"><h1>Soups</h1></a>


<a class="aato"><h1>Chicken-Dishes</h1></a>


<a class="aato"><h1>Beef-Dishes</h1></a>


<a class="aato"><h1>Seafood-Dishes</h1> </a>


<a class="aato"><h1>Vefetable-Dishes</h1></a>


<a class="aato"><h1>Bits&Bites
</h1></a>


<a class="aato"><h1>On-The-Side</h1></a>


</div>

<div class="brtyeli">

</div>
</div>

